body {
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
  ;
}

main {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.hide {
  display: none!important;
}

.user-amount {
  background-color: #cccccc;
  min-height: 4vw;
  padding: 1em;
  text-align: center;
  border-radius: 1em;
}

.message-area {
  margin: 0 0.5em;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

form {
  display: flex;
  margin-top: 0.5em;
  textarea {
    width: 37vw;
    -webkit-appearance: none;
    border-radius: 1em;
    padding: 1em;
    margin: 1em 1em 0em 0em;
    resize: none;
    border: 1px solid #848484;
  }
  input[type="submit"] {
    width: 12.5vw;
    padding: 1em;
    margin-top: 0.8rem;
    border-radius: .5em;
    color: white;
    background: #FF5300;
    border: none;
    font-size: 1.2em;
  }
}

// }
input[type="text"] {
  -webkit-appearance: none;
  border: 1px solid #848484;
  border-radius: 0.5em;
  padding: 0em 1em;
  width: 100%;
}

strong {
  text-transform: capitalize;
}

.message-container {
  display: flex;
  // flex-direction: column;
  margin: 1em;
  .chat-messages {
    min-height: 8vw;
    width: 50vw;
    background-color: #d3d3d3;
    padding: 1em;
    border-radius: 1em;
    .user-message {
      display: flex;
      // padding: 1em 1em;
      // background-color: green;
      .message {
        padding: 1em;
        min-width: 50%;
        border-radius: 0.5rem;
      }
    }
  }
}

.red {
  background-color: red;
}

#user-form {
  width: 20em;
  flex-direction: column;
  background: antiquewhite;
  padding: 2em;
  align-items: center;
  text-align: center;
  input[type="submit"] {
    width: 110%;
  }
  input[type="text"], input[type="submit"] {
    // width: 100%;
    height: 3em;
  }
}

#message-form {
  flex-wrap: wrap;
  label {
    width: 100%;
  }
}