<div id="message" class="hide">
  <span class="closebtn">&times;</span>
  <span class="message-text"></span>
</div>
<main class="start">

<h1 class="title">How well do you know your twitter friends?</h1>

  <a class="twitter btn" href="/auth/twitter">Play the game</a>
</main>
