<h1>
  {{title}}
</h1>
<main>


{{!--   <a href="/login" ><span class="fa fa-user"></span>  Login</a>
  <a href="/signup"><span class="fa fa-user"></span>  Signup</a> --}}

<div class="message-container">
  <section class="message-area">
    <div class="chat-messages" id="chat">
    <h2>How well do you know your twitter friends?</h2>
    <p> login to play the game</p>
    </div>
  </section>
  </div>
  <a class="twitter" href="/oauth/twitter">Login with twitter</a>
</main>
