  <main class="main-background">

  <div id='profile'>
    {{!-- <p>{{displayname}}</p> --}}
    <p>Welkom: {{username}}</p>
  </div>
  {{!-- <div class="loader"></div> --}}
  <a href="/logout">logout</a>
  <section class="container">

    <h1 class="title">Who's the tweeter</h1>
<div class="group">
    <p class="score">High: <span>0</span></p>
    <p class="highscore"> <span>0</span> </p>
</div>
<ul>
  <li><img class="bird" src="img/_bird.svg" alt="bird"></li>

</ul>
      <div class='background'>
         <p class='tweest' id='tweet'></p>
      </div>
  </section>
  <select name="tweeter-list" id="tweeter-list">

  </select>
  </main>
