<h1>
  Gelukt!
</h1>
<main>
<div class="user-container">

{{!--   <form id="user-form">
      <label>Username</label>
      <input type="text" id="user-name" name="" placeholder="Type in your message" required>
      <label>Username</label>
      <input type="pasword" id="user-name" name="" placeholder="password" required>
      <input type="submit" value="Login">
      </input>
  </form> --}}

<a href=""></a><button>logged in</button>
</div>
<div class="message-container">
  <section class="message-area">
    <div class="chat-messages" id="chat">
    </div>
  </section>
  </div>
</main>
