<h1>
  {{title}}
</h1>
<main>
<div class="user-container">
{{!--     <div>
      <button value="blue"></button>
      <button value="green"></button>
      <button value="orange"></button>
    </div> --}}
  <form id="user-form">
      <label>Username</label>
      <input type="text" id="user-name" name="" placeholder="Type in your message" required>

      <input type="submit" value="Login">
      </input>
    </form>
</div>
<div class="message-container">
  <section class="message-area">
    <div class="user-amount">
      <h3>Online users</h3>
      <ul class="user-amount" id="user-list">
      </ul>
    </div>
  </section>
  <section class="message-area">
    <div class="chat-messages" id="chat">
    </div>
    <form id="message-form">
      <label>Message</label>
      <textarea id="message" name="" placeholder="Type in your message" required></textarea>

      <input type="submit" value="Send">
      </input>
    </form>
  </section>
  </div>
</main>
