<h1>
  {{title}}
</h1>
<main>


{{!--   <a href="/login" ><span class="fa fa-user"></span>  Login</a>
  <a href="/signup"><span class="fa fa-user"></span>  Signup</a> --}}

<div class="message-container">
  <section class="message-area">
    <div class="chat-messages" id="chat">
    <h2>Oops somgthing went wrong</h2>
    </div>
  </section>
  </div>
  <a class="home" href="/">Go back to the homepage</a>
</main>
