<h1>
  {{title}}
</h1>
<main>
<div class="user-container">

<a class="twitter" href="/oauth/twitter">Login with twitter</a>
  <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
  <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
</div>
<div class="message-container">
  <section class="message-area">
    <div class="chat-messages" id="chat">
    </div>
  </section>
  </div>
</main>
