  <main class="main-background">
<div id="message" class="hide">
  <span class="closebtn">&times;</span>
  <span class="message-text"></span>
</div>
  <div id='profile'>
    {{!-- <p>{{displayname}}</p> --}}
    <p>Welkom: {{username}}</p>
  </div>
  {{!-- <div class="loader"></div> --}}
  <a href="/logout">logout</a>
  <section class="container">

    <h1 class="title">Who's the tweeter</h1>
<div class="group">
    <p class="score">Score: <span>0</span></p>
    <p class="highscore">Highscore: <span>0</span> </p>
</div>
<ul class="lives">
  <li class="bird-live"><img class="bird" src="img/_bird.svg" alt="bird"></li>
  <li class="bird-live"><img class="bird" src="img/_bird.svg" alt="bird"></li>
  <li class="bird-live"><img class="bird" src="img/_bird.svg" alt="bird"></li>

</ul>
      <div class='background'>
         <p class='tweest' id='tweet'></p>
      </div>
  </section>
  <select name="tweeter-list" id="tweeter-list">

  </select>
  </main>
