<div class="form-group">
 <form action="/signup">

  <div>
   <label for="">Email</label>
   <input class="signup" type="text">
  </div>

  <div >
   <label class="signup" for="">Password</label>
   <input type="password">
  </div>
   <input type="submit" value="sign up">
 </form>

 <div>
  <p>Already have an account? <a href="/login"></a></p>
  <p>Or go <a href="/">home</a>.</p>
 </div>
</div>
